/* Custom OpenFGA styling (not ifm vars) */

:root {
  /* Colors */
  --ofga-green-neon: #79ed83;
  --ofga-green-light: #d3ffd7;
  --ofga-green-dark: #558f69;

  --ofga-cyan-neon-light: #cdfcfe;
  --ofga-cyan-neon: #20f1f5;
  --ofga-cyan-neon-dark: #2f7f82;

  --ofga-neutral-black: #131519;
  --ofga-neutral-darkest: #272b33;
  --ofga-neutral-darker: #3a3d44;
  --ofga-neutral-dark: #838892;
  --ofga-neutral-aluminium: #bdc4cf;
  --ofga-neutral-base: var(--ofga-neutral-aluminium);
  --ofga-neutral-light: #d3d8df;
  --ofga-neutral-lighter: #eaecee;
  --ofga-neutral-lightest: #f4f6f7;
  --ofga-neutral-white: #ffffff;

  --ofga-color-default: #ffffff;
  --ofga-color-comment: #737981;
  --ofga-color-keyword: #aaaaaa;
  --ofga-color-module: #79ed83;
  --ofga-color-type: #79ed83;
  --ofga-color-relation: #20f1f5;
  --ofga-color-directly-assignable: #ceec93;

  --ofga-color-primary: var(--ofga-green-neon);
  --ofga-color-primary-dark: var(--ofga-green-dark);
  --ofga-color-primary-light: var(--ofga-green-light);

  --ofga-color-secondary: var(--ofga-cyan-neon);
  --ofga-color-secondary-light: var(--ofga-cyan-neon-light);
  --ofga-color-secondary-dark: var(--ofga-cyan-neon-dark);

  --ofga-color-foreground: var(--ofga-neutral-white);
  --ofga-color-background: var(--ofga-neutral-black);

  /* Fonts */
  --ofga-font-base: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Helvetica, Arial,
    sans-serif, ‘Apple Color Emoji’, ‘Segoe UI Emoji’, ‘Segoe UI Symbol’;

  --ofga-font-highlight: 'Space Grotesk', sans-serif;

  /* avoid these except for special cases */
  --true-black: #000;
  --true-white: #fff;
}

html {
  font-family: var(--ofga-font-base);
}

/* Link targets for TOC scrolling */
:target:before {
  content: '';
  display: block;
  height: 3.75rem; /* adjust these to */
  margin: -3.75rem 0 0; /* control offset  */
}

/* Gradient Color Bar */
body:before {
  background: linear-gradient(270deg, #d1f4fa 0%, #79ed83 34.37%, #20f1f5 71.35%, #d1f4fa 100%);
  height: 2px;
  left: 0px;
  position: fixed;
  top: 0px;
  content: '';
  width: 100vw;
  z-index: 1000;
}

a,
logo a:active,
a:visited {
  color: var(--ofga-green-neon);
  transition: all 0.2s ease;
}

.container__no-padding {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  .container__no-padding {
    max-width: var(--ifm-container-width-xl);
  }
}

/* Navbar */
.navbar {
  border-bottom: 1px solid var(--ofga-neutral-darker);
  height: var(--ifm-navbar-height);
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  .navbar__inner {
    max-width: var(--ifm-container-width-xl);
  }
}

.navbar__brand {
  margin-right: 0;
}

.navbar__logo {
  height: 2.6rem;
  width: 42px;
  overflow: hidden;
  margin-right: 29px;
  transition: all 0.3s ease-in-out;
}

.docs-doc-page .navbar__logo,
.docs-api-page .navbar__logo {
  width: 174px;
}

.navbar__logo img {
  max-width: inherit;
  width: 174px;
  height: auto;
}

.navbar__logo[data-minimal='false'] {
  width: 174px;
}

.navbar__items {
  color: var(--ofga-neutral-white);
  font-size: 1rem;
  display: flex;
}

.navbar__items a:hover {
  background-color: unset;
}

.navbar__items--right {
  grid-gap: 0.5rem;
}

.navbar__link,
.navbar__link:hover,
.navbar__link:active,
.navbar__link:visited {
  color: var(--ofga-neutral-light);
  font-weight: 600;
  transition: all 0.2s ease;
}
.navbar__link--active {
  color: var(--ofga-color-white);
  font-weight: 600;
}

.navbar__link:hover {
  opacity: 0.6;
}

.navbar__link.header-social {
  border: 1px solid var(--ofga-neutral-white);
  border-radius: 6px;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.header-social {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 996px) {
  .header-social {
    display: none;
  }
}

.header-social:before {
  content: '';
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.5rem;
}

.header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-twitter-link:before {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path style='fill: %23fff;' d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z'/></svg>")
    no-repeat;
}

.header-slack-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.78116 11.3749C3.78116 12.4156 2.931 13.2658 1.89028 13.2658C0.849567 13.2658 -0.000595093 12.4156 -0.000595093 11.3749C-0.000595093 10.3342 0.849567 9.48401 1.89028 9.48401H3.78116V11.3749Z' fill='white'/%3E%3Cpath d='M4.73399 11.3749C4.73399 10.3342 5.58415 9.48401 6.62486 9.48401C7.66558 9.48401 8.51574 10.3342 8.51574 11.3749V16.1094C8.51574 17.1501 7.66558 18.0003 6.62486 18.0003C5.58415 18.0003 4.73399 17.1501 4.73399 16.1094V11.3749Z' fill='white'/%3E%3Cpath d='M6.62486 3.78212C5.58415 3.78212 4.73399 2.93196 4.73399 1.89124C4.73399 0.850528 5.58415 0.000366211 6.62486 0.000366211C7.66558 0.000366211 8.51574 0.850528 8.51574 1.89124V3.78212H6.62486Z' fill='white'/%3E%3Cpath d='M6.6248 4.73486C7.66552 4.73486 8.51568 5.58503 8.51568 6.62574C8.51568 7.66646 7.66552 8.51662 6.6248 8.51662H1.89028C0.849567 8.51662 -0.000595093 7.66646 -0.000595093 6.62574C-0.000595093 5.58503 0.849567 4.73486 1.89028 4.73486H6.6248Z' fill='white'/%3E%3Cpath d='M14.218 6.62562C14.218 5.5849 15.0681 4.73474 16.1089 4.73474C17.1496 4.73474 17.9997 5.5849 17.9997 6.62562C17.9997 7.66633 17.1496 8.51649 16.1089 8.51649H14.218V6.62562Z' fill='white'/%3E%3Cpath d='M13.2652 6.62564C13.2652 7.66636 12.4151 8.51652 11.3743 8.51652C10.3336 8.51652 9.48346 7.66636 9.48346 6.62564V1.89112C9.48346 0.850406 10.3336 0.000244141 11.3743 0.000244141C12.4151 0.000244141 13.2652 0.850406 13.2652 1.89112V6.62564Z' fill='white'/%3E%3Cpath d='M11.3743 14.2184C12.4151 14.2184 13.2652 15.0685 13.2652 16.1093C13.2652 17.15 12.4151 18.0001 11.3743 18.0001C10.3336 18.0001 9.48346 17.15 9.48346 16.1093V14.2184H11.3743Z' fill='white'/%3E%3Cpath d='M11.3743 13.2656C10.3336 13.2656 9.48346 12.4155 9.48346 11.3748C9.48346 10.334 10.3336 9.48389 11.3743 9.48389H16.1089C17.1496 9.48389 17.9997 10.334 17.9997 11.3748C17.9997 12.4155 17.1496 13.2656 16.1089 13.2656H11.3743Z' fill='white'/%3E%3C/svg%3E%0A")
    no-repeat;
}

.navbar__search {
  display: flex;
  grid-gap: 1rem;
}

.navbar__search-input {
  border: 1px solid var(--ofga-neutral-light);
}

.navbar__search-input:focus {
  border: 1px solid var(--ofga-color-primary-dark);
  outline: 2px solid var(--ofga-color-primary);
}

.navbar__search button {
  color: var(--ofga-neutral-darkest);
  cursor: pointer;
}

/* Normally we wouldn't use max-width, but it appears to be necessary */
/* here to avoid !important due to Docusaurus styles specificity       */
@media screen and (max-width: 576px) {
  .navbar__search-input {
    background-color: var(--ofga-neutral-light);
    color: var(--ofga-neutral-darkest);
  }
  .navbar__search-input:focus {
    width: 8rem;
  }
  .navbar__search-input:not(:focus) {
    background-position: center center;
    color: transparent;
    cursor: pointer;
    height: 2rem;
    padding: 0;
    width: 2rem;
  }
  .navbar__search button {
    color: var(--ofga-neutral-darkest);
    cursor: pointer;
  }
  .navbar__search-input:not(:focus)::placeholder {
    color: transparent;
  }
  .navbar__search-input::placeholder {
    color: var(--ofga-neutral-darkest);
  }
}
@media screen and (min-width: 576px) {
  .navbar .navbar__search-input {
    background: transparent;
    padding: 0 5rem 0 1rem;
    width: unset;
  }
  .navbar__search-input::placeholder {
    color: var(--ofga-neutral-light);
  }
}

/* Sidebar */
.menu {
  font-size: 0.875rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
}

.menu__list:not(.theme-doc-sidebar-menu) {
  border-left: 1px solid var(--ofga-neutral-dark);
  margin-left: 0.7rem;
}

.menu__list-item-collapsible a {
  font-family: var(--ofga-font-highlight);
}

.menu__link,
.menu__link:visited:not(.menu__link--active) {
  color: var(--ofga-neutral-base);
}

.menu__link--active:not(.menu__link--sublist) {
  background-color: transparent;
}

a.menu__link--active,
a.menu__link:active,
a.menu__link:hover {
  color: var(--ofga-neutral-white);
}

.menu__caret {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0 0;
}

.menu__caret::before,
.menu__link--sublist::after {
  min-width: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url('/icons/chevron-top.svg') no-repeat;
  transform: rotate(360deg);
  background-position: center center;
  min-height: 29.5px;
}

.menu__link--sublist::after {
  position: absolute;
  left: 0;
  top: 0;
}

.menu__list-item-collapsible::before {
  content: '';

  width: 1.5rem;
  height: 1.5rem;
  height: auto;
  background-position: center center;
  transition: all 0.3s ease-in-out;
}

.menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotate(270deg);
}

.theme-doc-sidebar-container button {
  background-color: #32363d;
}

.theme-doc-sidebar-container button:hover {
  background-color: #3d4148;
}

.theme-doc-sidebar-item-category {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

/* Table of Contents */
.table-of-contents {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
}

a.table-of-contents__link {
  font-weight: 500;
}

a.table-of-contents__link,
a.table-of-contents__link:visited {
  color: var(--ofga-neutral-base);
}

a.table-of-contents__link:active,
a.table-of-contents__link:hover,
a.table-of-contents__link.table-of-contents__link--active {
  color: var(--ofga-neutral-white);
}

.theme-doc-toc-desktop {
  height: 100%;
}

.table-of-contents {
  height: 100%;
}

/* Breadcrumbs */
.breadcrumbs__link svg {
  color: var(--ofga-green-neon);
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ofga-green-neon);
  font-weight: 500;
}

.breadcrumbs__link:hover {
  color: var(--ofga-green-dark);
}

/* Footer */
.footer {
  border-top: 1px solid var(--ofga-neutral-darker);
  height: 5.5rem;
}

.footer .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: var(--ifm-container-width-xl);
}

@media screen and (min-width: 1200px) {
  .footer .container {
    padding: 0;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  grid-gap: 1.125rem;
  margin: 0;
}

.footer__links .header-social:before {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.footer__links .header-social {
  color: transparent;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
}

.footer__link-separator {
  display: none;
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--ofga-neutral-white);
}

/* Content Footer */
.theme-doc-footer a,
.theme-doc-footer a:active,
.theme-doc-footer a:visited {
  color: var(--ofga-green-neon);
}

.theme-doc-footer a:hover {
  color: var(--ofga-green-dark);
}

/* Pagination Nav */

.pagination-nav__label {
  color: var(--ofga-green-neon);
}

.pagination-nav__link:hover {
  border-color: var(--ofga-green-neon);
  background-color: unset;
}

/* Content (Mardown) */

.theme-doc-markdown {
  font-weight: 400;
  color: var(--ofga-color-lighter);
  font-size: 1.125rem;
}

.theme-doc-markdown h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 1.1px;
  font-family: var(--ofga-font-highlight);
}

.theme-doc-markdown a,
.theme-doc-markdown a:active,
.theme-doc-markdown a:visited {
  color: var(--ofga-green-neon);
}

.theme-doc-markdown a:hover {
  background-color: var(--ofga-neutral-black);
  color: var(--ofga-green-neon);
}

/* Landing Pages */

.section_heading {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--ofga-neutral-dark);
  margin-bottom: 1.5rem;
}

.markdown > h1:first-child {
  margin: 2rem 0 3rem;
}
.markdown > h2 {
  margin-top: 5rem;
}

.markdown > h3 {
  margin-top: 5rem;
}

.markdown ol li:not(:last-of-type) {
  padding-bottom: 1rem;
}

.markdown pre {
  margin: 2rem 0 2rem;
}

.markdown details {
  margin-top: 2rem;
  border-radius: 24px !important;
  padding: 0;
}

.markdown details p {
  margin: 0;
}

.markdown details summary {
  padding-left: unset;
  padding: 2rem;
}

.markdown details summary ~ div > div {
  padding: 0rem 2rem;
  margin: unset;
}

.markdown details summary:before {
  left: auto;
  right: 1rem;
  top: 1rem;
  transform: rotate(90deg);
}

.markdown details[data-collapsed='false'] > summary:before {
  transform: rotate(270deg) !important;
}

.markdown details h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.1px;
  margin: unset;
  padding: 1.5rem 0 1rem;
}

/* Pre - Code */

pre {
  background-color: var(--ofga-neutral-black);
  font-size: 1rem;
}

pre code {
  background-color: var(--ofga-neutral-black);
}

/* Prism - DSL */
.language-dsl\.openfga .token.plain {
  color: var(--ofga-color-default);
}
.language-dsl\.openfga .token.comment {
  color: var(--ofga-color-comment);
}

.language-dsl\.openfga .token.keyword {
  color: var(--ofga-color-keyword) !important;
}

.language-dsl\.openfga .token.condition-param-type {
  color: var(--ofga-color-keyword) !important;
}

.language-dsl\.openfga .token.module {
  color: var(--ofga-color-module);
}

.language-dsl\.openfga .token.type {
  color: var(--ofga-color-type);
}

.language-dsl\.openfga .token.condition {
  color: var(--ofga-color-type);
}

.language-dsl\.openfga .token.relation {
  color: var(--ofga-color-relation);
}

.language-dsl\.openfga .token.condition-param {
  color: var(--ofga-color-relation);
}

.language-dsl\.openfga .token.directly-assignable {
  color: var(--ofga-color-directly-assignable);
}

.language-json .token.string {
  color: var(--ofga-color-primary) !important;
}
.language-json .token.punctuation {
  color: var(--ofga-color-secondary) !important;
}

/* highlighting getting started modeling page */

.blue-highlight-text {
  padding: 1.2px 7.2px;
  background: #ddebfd;
  border-radius: 2.4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #00407d;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.green-highlight-text {
  padding: 1.2px 7.2px;
  background: #def7f1;
  border-radius: 2.4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #004e4e;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.yellow-highlight-text {
  padding: 1.2px 7.2px;
  background: #fcf7e4;
  border-radius: 2.4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #522c09;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.display-on-desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .display-on-desktop {
    display: inline;
  }
}
