/* Custome OpenFGA styling (not ifm vars) */

:root {
  /* Colors */
  --ofga-green-neon: #79ed83;
  --ofga-green-light: #d3ffd7;
  --ofga-green-dark: #558f69;

  --ofga-cyan-neon-light: #cdfcfe;
  --ofga-cyan-neon: #20f1f5;
  --ofga-cyan-neon-dark: #2f7f82;

  --ofga-neutral-black: #131519;
  --ofga-neutral-darkest: #272b33;
  --ofga-neutral-darker: #3a3d44;
  --ofga-neutral-dark: #838892;
  --ofga-neutral-aluminium: #bdc4cf;
  --ofga-neutral-base: var(--ofga-neutral-aluminium);
  --ofga-neutral-light: #d3d8df;
  --ofga-neutral-lighter: #eaecee;
  --ofga-neutral-lightest: #f4f6f7;
  --ofga-neutral-white: #ffffff;

  --ofga-color-primary: var(--ofga-green-neon);
  --ofga-color-primary-dark: var(--ofga-green-dark);
  --ofga-color-primary-light: var(--ofga-green-light);

  --ofga-color-secondary: var(--ofga-cyan-neon);
  --ofga-color-secondary-light: var(--ofga-cyan-neon-light);
  --ofga-color-secondary-dark: var(--ofga-cyan-neon-dark);

  --ofga-color-foreground: var(--ofga-neutral-white);
  --ofga-color-background: var(--ofga-neutral-black);

  /* Fonts */
  --ofga-font-base: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Helvetica, Arial,
    sans-serif, ‘Apple Color Emoji’, ‘Segoe UI Emoji’, ‘Segoe UI Symbol’;

  --ofga-font-highlight: 'Space Grotesk', sans-serif;

  /* avoid these except for special cases */
  --true-black: #000;
  --true-white: #fff;
}

html {
  font-family: var(--ofga-font-base);
  scroll-behavior: smooth;
}

/* Link targets for TOC scrolling */
:target:before {
  content: '';
  display: block;
  height: 60px; /* adjust these to */
  margin: -60px 0 0; /* control offset  */
}

/* Gradient Color Bar */
body:before {
  background: linear-gradient(270deg, #d1f4fa 0%, #79ed83 34.37%, #20f1f5 71.35%, #d1f4fa 100%);
  height: 2px;
  left: 0px;
  position: fixed;
  top: 0px;
  content: '';
  width: 100vw;
  z-index: 1000;
}

a,
logo a:active,
a:visited {
  color: var(--ofga-green-neon);
  transition: all 0.2s ease;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid var(--ofga-neutral-darker);
  height: 6.5rem;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  .navbar__inner {
    max-width: var(--ifm-container-width-xl);
  }
}

.navbar__brand {
  margin-right: 0;
}

.navbar__logo {
  height: 2.6rem;
  width: 174px;
  overflow: hidden;
  margin-right: 29px;
  transition: all 0.3s ease-in-out;
}

.navbar__logo img {
  max-width: inherit;
  width: 174px;
  height: auto;
}

.navbar__logo[data-minimal='true'] {
  width: 42px;
}

.navbar__items {
  color: var(--ofga-neutral-white);
  font-size: 1rem;
  display: flex;
}

.navbar__items a:hover {
  background-color: unset;
}

.navbar__items--right {
  grid-gap: 0.5rem;
}

.navbar__link,
.navbar__link:hover,
.navbar__link:active,
.navbar__link:visited {
  color: var(--ofga-neutral-light);
  font-weight: 600;
  transition: all 0.2s ease;
}
.navbar__link--active {
  color: var(--ofga-color-white);
  font-weight: 600;
}

.navbar__link:hover {
  opacity: 0.6;
}

.navbar__link.header-social {
  border: 1px solid var(--ofga-neutral-white);
  border-radius: 6px;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.header-social {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 996px) {
  .header-social {
    display: none;
  }
}

.header-social:before {
  content: '';
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.5rem;
}

.header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-twitter-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M18 2.43208C17.3381 2.72358 16.627 2.92053 15.8794 3.00956C16.642 2.55577 17.2271 1.8357 17.503 0.978553C16.7895 1.39925 15.9991 1.70492 15.158 1.86879C14.4842 1.1566 13.525 0.710693 12.4627 0.710693C10.4238 0.710693 8.7701 2.35409 8.7701 4.38194C8.7701 4.66871 8.8034 4.9476 8.86523 5.21703C5.79494 5.06341 3.07505 3.602 1.25332 1.38192C0.936228 1.92551 0.753898 2.55577 0.753898 3.227C0.753898 4.50012 1.40632 5.62434 2.39646 6.28217C1.7908 6.26247 1.22162 6.09782 0.723773 5.82287V5.87014C0.723773 7.64825 1.99612 9.13172 3.68625 9.46891C3.3755 9.55242 3.04968 9.59654 2.71356 9.59654C2.47573 9.59654 2.24346 9.57448 2.01832 9.53193C2.48842 10.9894 3.85193 12.0514 5.46833 12.0798C4.20391 13.0645 2.61129 13.6515 0.881529 13.6515C0.583458 13.6515 0.289351 13.6341 0 13.6002C1.63463 14.6425 3.57527 15.2492 5.66018 15.2492C12.454 15.2492 16.168 9.6572 16.168 4.80737C16.168 4.6498 16.164 4.49066 16.1569 4.3331C16.8783 3.81471 17.5045 3.16949 17.9984 2.43445L18 2.43208Z'/%3E%3C/svg%3E")
    no-repeat;
}

.header-discord-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M15.2601 2.15598C14.0866 1.60531 12.8404 1.20398 11.5396 0.97998C11.3759 1.26932 11.194 1.66131 11.0666 1.96931C9.68307 1.76398 8.30951 1.76398 6.94504 1.96931C6.81769 1.66131 6.62666 1.26932 6.47201 0.97998C5.16216 1.20398 3.91595 1.60531 2.7507 2.15598C0.394744 5.7213 -0.242005 9.20261 0.0763687 12.6373C1.64094 13.8039 3.15096 14.5133 4.63458 14.98C4.99844 14.476 5.32591 13.9346 5.6079 13.3653C5.07121 13.16 4.56181 12.9079 4.07061 12.6093C4.19796 12.516 4.32531 12.4133 4.44356 12.3106C7.40898 13.7013 10.6209 13.7013 13.5499 12.3106C13.6773 12.4133 13.7955 12.516 13.9229 12.6093C13.4317 12.9079 12.9223 13.16 12.3856 13.3653C12.6676 13.9346 12.9951 14.476 13.3589 14.98C14.8416 14.5133 16.3607 13.8039 17.9171 12.6373C18.3082 8.66131 17.2976 5.208 15.2601 2.15598ZM6.01723 10.5186C5.12577 10.5186 4.39806 9.68797 4.39806 8.67065C4.39806 7.65333 5.10758 6.82262 6.01723 6.82262C6.91775 6.82262 7.65454 7.65333 7.63634 8.67065C7.63634 9.68797 6.91775 10.5186 6.01723 10.5186ZM11.9945 10.5186C11.103 10.5186 10.3744 9.68797 10.3744 8.67065C10.3744 7.65333 11.0848 6.82262 11.9945 6.82262C12.895 6.82262 13.6318 7.65333 13.6136 8.67065C13.6136 9.68797 12.9041 10.5186 11.9945 10.5186Z'/%3E%3C/svg%3E")
    no-repeat;
}
.navbar__search {
  display: flex;
  grid-gap: 1rem;
}

.navbar__search-input {
  border: 1px solid var(--ofga-neutral-light);
  background: transparent;
  padding: 0 5rem 0 1rem;
  width: unset;
}

/* Sidebar */
.menu {
  font-size: 0.875rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
}

.menu__list:not(.theme-doc-sidebar-menu) {
  border-left: 1px solid var(--ofga-neutral-dark);
  margin-left: 0.7rem;
}

.menu__list-item-collapsible a {
  font-family: var(--ofga-font-highlight);
}

.menu__link,
.menu__link:visited:not(.menu__link--active) {
  color: var(--ofga-neutral-base);
}

.menu__link--active:not(.menu__link--sublist) {
  background-color: transparent;
}

a.menu__link--active,
a.menu__link:active,
a.menu__link:hover {
  color: var(--ofga-neutral-white);
}

.menu__caret {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0 0;
}

.menu__caret::before,
.menu__link--sublist::after {
  min-width: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url('/icons/chevron-top.svg') no-repeat;
  transform: rotate(360deg);
  background-position: center center;
  min-height: 29.5px;
}

.menu__link--sublist::after {
  position: absolute;
  left: 0;
  top: 0;
}

.menu__list-item-collapsible::before {
  content: '';

  width: 1.5rem;
  height: 1.5rem;
  height: auto;
  background-position: center center;
  transition: all 0.3s ease-in-out;
}

.menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotate(270deg);
}

.theme-doc-sidebar-container button {
  background-color: #32363d;
}

.theme-doc-sidebar-container button:hover {
  background-color: #3d4148;
}

.theme-doc-sidebar-item-category {
  margin-bottom: 16px;
  margin-right: 8px;
}

/* Table of Contents */
.table-of-contents {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
}

a.table-of-contents__link {
  font-weight: 500;
}

a.table-of-contents__link,
a.table-of-contents__link:visited {
  color: var(--ofga-neutral-base);
}

a.table-of-contents__link:active,
a.table-of-contents__link:hover,
a.table-of-contents__link.table-of-contents__link--active {
  color: var(--ofga-neutral-white);
}

.theme-doc-toc-desktop {
  height: 100%;
}

.table-of-contents {
  height: 100%;
}

/* Breadcrumbs */
.breadcrumbs__link svg {
  color: var(--ofga-green-neon);
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ofga-green-neon);
  font-weight: 500;
}

.breadcrumbs__link:hover {
  color: var(--ofga-green-dark);
}

/* Footer */
.footer {
  border-top: 1px solid var(--ofga-neutral-darker);
  height: 5.5rem;
}

.footer .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  align-items: center;
  grid-gap: 1.125rem;
  margin: 0;
}

.footer__links .header-social:before {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.footer__links .header-social {
  color: transparent;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
}

.footer__link-separator {
  display: none;
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--ofga-neutral-white);
}

.footer__copyright::before {
  content: '';
  width: 6.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background: url('/img/openfga_logo-white.svg') no-repeat;
  background-size: 6.5rem 1.5rem;
}

/* Content Footer */
.theme-doc-footer a,
.theme-doc-footer a:active,
.theme-doc-footer a:visited {
  color: var(--ofga-green-neon);
}

.theme-doc-footer a:hover {
  color: var(--ofga-green-dark);
}

/* Pagination Nav */

.pagination-nav__label {
  color: var(--ofga-green-neon);
}

.pagination-nav__link:hover {
  border-color: var(--ofga-green-neon);
  background-color: unset;
}

/* Content (Mardown) */

.theme-doc-markdown {
  font-weight: 400;
  color: var(--ofga-color-lighter);
  font-size: 1.125rem;
}

.theme-doc-markdown h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 1.1px;
  font-family: var(--ofga-font-highlight);
}

.theme-doc-markdown a,
.theme-doc-markdown a:active,
.theme-doc-markdown a:visited {
  color: var(--ofga-green-neon);
}

.theme-doc-markdown a:hover {
  background-color: var(--ofga-neutral-black);
  color: var(--ofga-green-neon);
}

/* Landing Pages */

.section_heading {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--ofga-neutral-dark);
  margin-bottom: 1.5rem;
}

.markdown > h1:first-child {
  margin: 2rem 0 3rem;
}
.markdown > h2 {
  margin-top: 5rem;
}

.markdown > h3 {
  margin-top: 5rem;
}

.markdown ol li:not(:last-of-type) {
  padding-bottom: 1rem;
}

.markdown pre {
  margin: 2rem 0 3rem;
}

.markdown details {
  margin-top: 2rem;
  padding: 0;
}

.markdown details p {
  margin: 0;
}

.markdown details summary {
  padding-left: unset;
  padding: 2rem;
}

.markdown details summary ~ div > div {
  padding: 2rem;
  margin: unset;
}
.markdown details summary:before {
  left: auto;
  right: 1rem;
  top: 1rem;
  transform: rotate(90deg);
}

.markdown details[data-collapsed='false'] > summary:before {
  transform: rotate(270deg) !important;
}

/* Pre - Code */

pre {
  background-color: var(--ofga-neutral-black);
  font-size: 1rem;
}

/* Prism - DSL */
.language-dsl .token.fga-type,
.language-dsl .token.fga-definition {
  color: var(--ofga-color-primary);
}

.language-dsl .token.plain {
  color: var(--ofga-color-secondary-light);
}

.language-dsl .token.fga-self {
  color: var(--ofga-color-secondary);
}

.language-dsl .token.fga-keyword,
.language-dsl .token.fga-operator,
.language-dsl .token.fga-tuple-to-userset {
  font-style: italic;
}

.language-json .token.string {
  color: var(--ofga-color-primary) !important;
}
.language-json .token.punctuation {
  color: var(--ofga-color-secondary) !important;
}
