.grid {
  max-width: var(--ifm-container-width);
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: 0 auto;
  padding: 0;

  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;

  display: none;
}

@media (min-width: 996px) {
  .grid {
    display: grid;
  }
}

@media (min-width: 1440px) {
  .grid {
    max-width: var(--ifm-container-width-xl);
  }
}

/* Borders for the empty divs in component */
.grid div {
  border-right: 1px solid var(--ofga-neutral-darker);
  border-left: 1px solid var(--ofga-neutral-darker);
}
