.section {
  background-color: var(--ofga-neutral-black);
  padding: 3rem 0 4rem;
  color: var(--ofga-neutral-base);
}

@media screen and (min-width: 996px) {
  .section {
    padding: 9.25rem 0 10.25rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
}

@media screen and (min-width: 996px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 996px) {
  .content {
    width: calc(50% - 50px - 32px);
  }
}

.content p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 996px) {
  .content p {
    margin-bottom: 2rem;
  }
}

.content p:last-child {
  margin-bottom: 0rem;
}

.highlight {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.28;
}

.terminalContainer {
  margin-top: 3rem;
}
.terminalImg {
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 996px) {
  .terminalContainer {
    margin-top: 0;
    width: calc(50% + 50px - 32px);
    display: flex;
    justify-content: center;
  }
}

.terminal svg {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.section a:hover {
  background-color: var(--true-black);
}

.dockerSnippet {
  padding: 1rem;
  font-size: 0.875rem;
  background-color: #000;
}
