.social-media-banner {
  display: none;
}

@media only screen and (max-width: 996px) {
  .social-media-banner {
    display: flex;
    justify-content: space-evenly;
    padding: 0.625rem 2rem;
    gap: 2rem;
  }
}

@media only screen and (max-width: 375px) {
  .social-media-banner {
    gap: 1rem;
    font-size: 0.8rem;
  }
}

.social-media-banner-item {
  display: flex;
  align-items: center;
}

a.social-media-banner-item {
  color: var(--ofga-neutral-white);
  text-decoration: none;
}

.social-media-banner-item::before {
  display: block;
  content: '';
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.social-media-banner-github::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.social-media-banner-twitter::before {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path style='fill: %23fff;' d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z'/></svg>")
    no-repeat;
}

.social-media-banner-slack::before {
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.78116 11.3749C3.78116 12.4156 2.931 13.2658 1.89028 13.2658C0.849567 13.2658 -0.000595093 12.4156 -0.000595093 11.3749C-0.000595093 10.3342 0.849567 9.48401 1.89028 9.48401H3.78116V11.3749Z' fill='white'/%3E%3Cpath d='M4.73399 11.3749C4.73399 10.3342 5.58415 9.48401 6.62486 9.48401C7.66558 9.48401 8.51574 10.3342 8.51574 11.3749V16.1094C8.51574 17.1501 7.66558 18.0003 6.62486 18.0003C5.58415 18.0003 4.73399 17.1501 4.73399 16.1094V11.3749Z' fill='white'/%3E%3Cpath d='M6.62486 3.78212C5.58415 3.78212 4.73399 2.93196 4.73399 1.89124C4.73399 0.850528 5.58415 0.000366211 6.62486 0.000366211C7.66558 0.000366211 8.51574 0.850528 8.51574 1.89124V3.78212H6.62486Z' fill='white'/%3E%3Cpath d='M6.6248 4.73486C7.66552 4.73486 8.51568 5.58503 8.51568 6.62574C8.51568 7.66646 7.66552 8.51662 6.6248 8.51662H1.89028C0.849567 8.51662 -0.000595093 7.66646 -0.000595093 6.62574C-0.000595093 5.58503 0.849567 4.73486 1.89028 4.73486H6.6248Z' fill='white'/%3E%3Cpath d='M14.218 6.62562C14.218 5.5849 15.0681 4.73474 16.1089 4.73474C17.1496 4.73474 17.9997 5.5849 17.9997 6.62562C17.9997 7.66633 17.1496 8.51649 16.1089 8.51649H14.218V6.62562Z' fill='white'/%3E%3Cpath d='M13.2652 6.62564C13.2652 7.66636 12.4151 8.51652 11.3743 8.51652C10.3336 8.51652 9.48346 7.66636 9.48346 6.62564V1.89112C9.48346 0.850406 10.3336 0.000244141 11.3743 0.000244141C12.4151 0.000244141 13.2652 0.850406 13.2652 1.89112V6.62564Z' fill='white'/%3E%3Cpath d='M11.3743 14.2184C12.4151 14.2184 13.2652 15.0685 13.2652 16.1093C13.2652 17.15 12.4151 18.0001 11.3743 18.0001C10.3336 18.0001 9.48346 17.15 9.48346 16.1093V14.2184H11.3743Z' fill='white'/%3E%3Cpath d='M11.3743 13.2656C10.3336 13.2656 9.48346 12.4155 9.48346 11.3748C9.48346 10.334 10.3336 9.48389 11.3743 9.48389H16.1089C17.1496 9.48389 17.9997 10.334 17.9997 11.3748C17.9997 12.4155 17.1496 13.2656 16.1089 13.2656H11.3743Z' fill='white'/%3E%3C/svg%3E%0A")
    no-repeat;
}
