name: 'Run Checks: Lint, Audit and Build'

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - name: Cached LFS checkout
        uses: nschloe/action-cached-lfs-checkout@v1.1.2

      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      # Run Prettier
      - name: Run Prettier
        run: npm run format:check

      # Run ESLint
      - name: Run eslint
        run: npm run lint

      - name: Audit dependencies
        run: npm audit
        # Audit will fail until update-notifier is updated by Docusaurus
        continue-on-error: true

      - name: Check types
        run: npm run typecheck

      - name: Check for circular dependencies
        run: npx madge --circular . --extensions ts,js,jsx,tsx

      - name: Build with npm
        run: npm run build

  fossa:
    name: Run FOSSA
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          registry-url: 'https://registry.npmjs.org'
          always-auth: false
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run FOSSA scan and upload build data
        uses: fossas/fossa-action@main
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}
          branch: ${{ github.ref_name }}
      - name: Run FOSSA tests
        uses: fossas/fossa-action@main
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}
          run-tests: true

  snyk:
    name: Run Snyk
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          registry-url: 'https://registry.npmjs.org'
          always-auth: false
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  # Checking to ensure markdown link is not broken
  markdown-link-check-md:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        file-extension	: '.md'
        use-quiet-mode  : 'yes'
        config-file: '.github/workflows/markdown.links.config.json'

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        file-extension	: '.mdx'
        use-quiet-mode  : 'yes'
        config-file: '.github/workflows/markdown.links.config.json'
