name: 'Run Checks: Lint, Audit and Build'
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - name: Cached LFS checkout
        uses: nschloe/action-cached-lfs-checkout@f46300cd8952454b9f0a21a3d133d4bd5684cfc2

      - name: Set up node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      # Run Prettier
      - name: Run Prettier
        run: npm run format:check

      # Run ESLint
      - name: Run eslint
        run: npm run lint

      - name: Audit dependencies
        run: npm audit
        # Audit will fail until update-notifier is updated by Docusaurus
        continue-on-error: true

      - name: Check types
        run: npm run typecheck

      - name: Check for circular dependencies
        run: npx madge --circular . --extensions ts,js,jsx,tsx

      - name: Build with npm
        run: npm run build

  # Checking to ensure markdown link is not broken
  markdown-link-check-md:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: tcort/github-action-markdown-link-check@e7c7a18363c842693fadde5d41a3bd3573a7a225 # v1.1.2
        with:
          file-extension: '.md'
          use-quiet-mode: 'yes'
          config-file: '.github/workflows/markdown.links.config.json'

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: tcort/github-action-markdown-link-check@e7c7a18363c842693fadde5d41a3bd3573a7a225 # v1.1.2
        with:
          file-extension: '.mdx'
          use-quiet-mode: 'yes'
          config-file: '.github/workflows/markdown.links.config.json'
